{% extends 'base.html' %}
{% block title %} {{ posts.text|truncatewords:30 }} {% endblock title %}
{% load thumbnail %}
{% block content %}
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ posts.created|date:"d E Y" }} 
          </li>
          {% if posts.group %}  
            <li class="list-group-item">
              Группа: {{posts.group}}
              <a href="{% url 'posts:group' posts.group.slug%}">
                все записи группы
              </a>
            </li>
          {% endif %}
            <li class="list-group-item">
              Автор: {{ posts.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора:  <span >{{ posts_count }}</span>
            </li>
            {% if user.username %}
            {% if posts.author == request.user %}
            <li class="list-group-item">
              <a href="{% url 'posts:post_edit' posts.pk %}">
                редактировать пост
              </a>
            </li>
            {% endif %}
            {% endif %}
          <li class="list-group-item">
            <a href="{% url 'posts:profile' posts.author.username %}">
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          {{ posts.text }}
        </p>
        {% thumbnail posts.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
      </article>
    </div>
{% endblock %}
